*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
/* ___________NAV BAR_____________ */
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: black;
  color: gold;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
nav li>a{
  text-decoration: none;
  color: gold;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
.nav-gauche{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.nav-gauche li>button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: gold;
  box-shadow: 0px 10px 25px rgba(255, 215, 0, 0.6);
  font-size: 15px;
  font-family: serif;
  cursor: pointer;
   transition:  all 0.35s ease;
}
.nav-gauche li > button:hover {
  background-color: gold;
  color: #111;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
  transform: translateY(-0.5px);
}
/* _________________hero section_____________ */
.hero-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-bottom: 110px;
}
.herosection-droit{
  margin: 80px;
}
.herosection-droit h1{
  color: gold;
  margin: 30px 0px 40px 0px;
  font-size: 60px;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}
.herosection-droit p{
  font-size: 20px;
}
/* ________________Produit section _________ */
.Produit>p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-left: 100px;
  margin-bottom: 40px;
}
 .produit-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 articles par ligne */
  gap: 40px;
  padding: 60px 200px;
  color: aliceblue;
  margin-left: 50px;
}
.produit-grid img{
  width: 300px;
  height: 300px;
}
.Produit h3{
  color: gold;
}
.produit-grid div>button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: gold;
  box-shadow: 0px 5px 15px rgba(255, 215, 0, 0.6);
  font-size: 15px;
  font-family: serif;
  cursor: pointer;
  transition:  all 0.35s ease;
  margin: 5% 30%;
}
.produit-grid div>button:hover {
  background-color: gold;
  color: #111;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
  transform: translateY(-0.5px);
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
.apropos-gauche {
color:white;
margin-left: 100px;
}
.apropos-gauche h3{
font-size: 40px;
margin-bottom: 30px;
}
.apropos-gauche h2{
  color: gold;
  font-size: 30px;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}
.apropos-gauche p{
  text-align: justify;
  font-size: 20px;
  margin: 30px 30px 30px 0px;
}
.apropos-gauche span{
color: gold;
}
